*.zip
*.rar
*.via
*.tmp
*.err
*.class
.idea* 
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
target 
.classpath
*.iml
*.ipr
*.iws
.ideaDataSources
*.jar
classes
generated-sources
generated-test-sources
test-classes
log-uamp-1.0-SNAPSHOT

